/* Fonts */
@font-face {
    font-family: 'Raleway';
    src: local('fonts/Raleway Regular'), local('fonts/Raleway-Regular'),
        url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/*Icones*/

.fa-map-marker-alt{
    background-color: #f2f2f2;
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}

.iconbleu{
    font-size: 1.2em;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
}

.etoile{
    width: 1em;
    height: 1em; 
}

.etoile_bleue{
    fill: #0065fc;
    color: #0065fc;
}

.etoile_grise{
    fill: #d9d9d9;
    color: #d9d9d9;
}

.fa-chart-line{
    font-size: 1.9em;
}

.icon_i{
    display: block;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    font-size: 0.8em;
    border: solid #d9d9d9 1px;
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    padding: 0.5em 0.4em 0.6em 0.8em;
    margin-right: 0.9em;
}





/*Margin Body*/

#body_page{
    margin: 2.65% 3.75% 2.65% 3.75%;
}




/*HEADER*/

#menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

#icone_reservia{
    display: flex-start;
}




/*NAV*/

#nav_header{
    display: flex;
    align-self: flex-end;
    list-style-type: none;
}

.ul_li{
    margin-right: 4em;
    display: inline-block;
}

.ul_li_ancre{
border-top: solid 2px transparent;
}

.ul_li_a{
    text-decoration:none;
    color:black;
}

#inscription{
    color: #0065fc; 
}





/*BLOC PAGE*/
#bloc_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1_titre{
    font-weight: bold;
    padding-bottom: 0.5em;
}

.h1_sous-titre{
    font-size: 0.9em;
}

#bloc_h1{
    margin-bottom: 1em;
}


/*Choix ville*/


#ville{
    display: flex; 
    align-items: center;
    margin-bottom: 2em;
}

.span_icon_map-marker{
    background-color: #f2f2f2;
    padding: 12px 16px 12px 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#selection_ville{
    border-top: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
    border-right: none;
    border-left: none;
    padding: 1em;
    padding-left: 1.5em;
}

#recherche_ville{
    color: #ffffff;
    background-color:#0065fc;
    border: solid #0065fc 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1em;
}




/*Filtres*/


#filtres{
    display: flex; 
    vertical-align: top;
    align-items: center;
    margin-bottom: 2em;
}

.h4_filtres{
    margin-right: 2em;
}

.div_filtres{
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens_filtres{
    display: inline-flex;
    flex-direction: row-reverse;
    list-style-type: none;
    text-decoration:none;
    align-items: center;
    color: black;
    max-height: 1em;
    border-top: solid #d9d9d9 2px;
    border-right: solid #d9d9d9 2px;
    border-bottom: solid #d9d9d9 2px;
    border-left: none;
    border-radius: 60px;
    margin-right: 2em;
    padding: 1em 1.5em 1em 0;
}

.span_icon_filtres{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: none;
    margin-right: 1em;
    background-color: #deebff;
    border-radius: 50%;
    height: 52px; 
    width: 52px; 
}



/*Info*/


.information{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2em;
}













/*SECTION 2 - HEBERGEMENT */

#section_hebergement{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 92.5vw;
}



/*ASIDE*/


#pop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45vw;
    background-color: #f2f2f2 ;
    border-radius: 25px;
}


.span_pop_h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22vw;
    margin: 2vw 0 2vw 0;
}

#div_aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside_cards{
    display: flex;
    background-color: #ffffff;
    border-radius: 25px;
    width: 22vw;
    height: 180px;
    padding: 0.4em 0 0.4em 0.4em;
    margin-bottom: 2vw;
    box-shadow: 2px 2px 15px #d9d9d9;
}

.aside_a{
    display: flex;
    text-decoration:none;
    color: black;
}

.img_aside{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.div_info_cards_aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_cards_aside{
    padding: 0 0 0 1em;
}



/*Article*/
#hebergement{
    min-width: 60vw;
    background-color: #f2f2f2 ;
    margin: 0 3vw 0 2vw;
    padding: 2.5vw 0 3vw 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titre_article{
    margin: 0.5vw 0 1vw 2.5vw;
}

#div_article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2.5vw 0 2.5vw;
}
.article_cards{
    background-color: #ffffff;
    background-size: cover;
    padding: 0.5em 0.5em 0 0.5em;
    margin: 10px 0 20px 0;
    border-radius: 25px;
    width: 16vw;
    height: 280px;
    box-shadow: 2px 2px 15px #d9d9d9;
}

.article_a{
    text-decoration:none;
    color: black;
}

.img_article{
    border-radius: 20px 20px 0 0;
    height: 60%;
    width: 100%;
    object-fit: cover;
    
}

.info_cards_article{
    padding: 0 0 0.5em 1em;
}

.etoiles_art{
    padding: 0 0 0 1em;
}

.afficher_plus{
    font-size: 1.3em;
    padding: 0 0 3.5vw 0;
    margin-left: 2.5vw;
}







/*Activités*/
#section_activités{
    display: flex;
    flex-direction: column;
    min-width: 92.5vw;
    margin: 3vh 0 3vh 0;
}

.titre_activites{
    padding: 0 0 2vw 0;
}

#div_activites{
    display: flex;
    flex-wrap: nowrap;
}

.groupe_3activites{
    display: flex;
    width: 45vw;
}

.groupe_2activites{
    display: flex;
    flex-direction: column;
}

.activite_gd_format{
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 20px;
    margin: 0;
    padding-right: 3vw;
    height: 25vh;
    width: 302px;
    box-shadow: 2px 2px 15px #f2f2f2;
}

.activites_petit_format{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 302px; 
    margin: 0; 
    padding-bottom: 3vw;
    box-shadow: 2px 2px 15px #f2f2f2;
}

/*a href activités*/
.activites_a{
    text-decoration:none;
    color: black;
}

.act_vieuxport_calanques{
    height: 444px;
}
.act_pomegues{
    height: 238px;
}
.act_frioul{
    height: 165px;
}
.act_nddlg{
    height: 195px;
}
.act_longchamp{
    height: 209px;
}



/*Images Activités*/

.img_activites{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 12px #f2f2f2;
}



/*Info activités*/
.info_activites{
    display: flex;
}




/*Footer*/
#footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.3%;
    padding: 6vh 3vw 6vh 3vw;
    background-color: #f2f2f2 ;
}

.div_footer{
    margin-right: 20%;
    padding-bottom: 1.5em;
}

.h4_footer{
    padding-bottom: 2em;
}

.ul_footer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    list-style-type: none;
    text-decoration:none;
}

.li_footer{
    padding-bottom: 1em;
}

.ahref_footer{
    text-decoration:none;
    color: black;
}